/* source: https://ethanschoonover.com/solarized/ */
:root {
    --base03:    #002b36;
    --base02:    #073642;
    --base01:    #586e75;
    --base00:    #657b83;
    --base0:     #839496;
    --base1:     #93a1a1;
    --base2:     #eee8d5;
    --base3:     #fdf6e3;
    --yellow:    #b58900;
    --orange:    #cb4b16;
    --red:       #dc322f;
    --magenta:   #d33682;
    --violet:    #6c71c4;
    --blue:      #268bd2;
    --cyan:      #2aa198;
    --green:     #859900;
}

:root {
    --background-color: white;
    --color: black;
}

@media (prefers-color-scheme: dark) {
:root {
    --background-color: black;
    --color: lightgray;
}
}

html {
    background: var(--background-color);
    color: var(--color);
}

h1 {
    color: green;
}

h2, h3, h4, h5, h6 {
    color: var(--green);
}

@media (prefers-color-scheme: dark) {
a:link {
  color: var(--blue);
}

a:visited {
  color: var(--violet);
}
}

a:hover, a:active {
    color: var(--red);
}

a.current {
    font-weight: bold;
}

.content {
    max-width: 500px;
    margin: auto;
}

.navbar a {
    padding-right: 12px;
}

.avatar-and-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /*
    border-style: solid;
    border-width: thin;
    */
}

.avatar {
    margin: 0.5em;
    flex: 0 0 100px;
}

.avatar a {
    display: block;
}

.avatar img {
    width: 100%;
    border-radius: 50%;
}

.links {
    flex: 1 0 260px;
    list-style-type: square;
}

.links li + li {
    margin-top: 0.5em;
}

.w100 {
    width: 100%;
}
